In [35]:
import nilearn
import numpy as np
import pandas as pd
from nilearn import plotting
from nilearn import image
from nilearn.glm.first_level import make_first_level_design_matrix

# Run 1

In [36]:
#events files
events_view = pd.read_csv("/Users/bradpowell/Desktop/sub-01/ses-01/Events/view_first_run.tsv", sep='\t')
events_recall = pd.read_csv("/Users/bradpowell/Desktop/sub-01/ses-01/Events/recall_first_run.tsv", sep='\t')

In [37]:
events_view['trial_type'] = 'view'
events_recall['trial_type'] = 'recall'
events = pd.concat([events_view, events_recall])
events

   onset  duration trial_type
0      5       441       view
1    468       411       view
2    901       329       view
0      4       255     recall
1    259       251     recall
2    510       252     recall

In [38]:
timings = np.arange(0, 901 + 329)

In [39]:
make_first_level_design_matrix(timings, events, drift_model=None)#.plot(subplots=True)

      recall  view  constant
0        0.0   0.0       1.0
1        0.0   0.0       1.0
2        0.0   0.0       1.0
3        0.0   0.0       1.0
4        0.0   0.0       1.0
...      ...   ...       ...
1225     0.0   1.0       1.0
1226     0.0   1.0       1.0
1227     0.0   1.0       1.0
1228     0.0   1.0       1.0
1229     0.0   1.0       1.0

[1230 rows x 3 columns]

In [54]:
first_run = image.load_img('/Users/bradpowell/Desktop/sub-01/ses-01/Functional/sub-01_ses-01_task-view_run-01_space-MNI152NLin2009cAsym_desc-preproc_bold_trim3_smooth5.nii.gz')
selected_volumes = image.index_img(first_run, slice(1, 10))

In [56]:
selected_volumes.to_filename('test_data')

# Run 2

In [41]:
#events files
events_view = pd.read_csv("/Users/bradpowell/Desktop/sub-01/ses-01/Events/view_second_run.tsv", sep='\t')
events_recall = pd.read_csv("/Users/bradpowell/Desktop/sub-01/ses-01/Events/recall_second_run.tsv", sep='\t')

In [42]:
events_view['trial_type'] = 'view'
events_recall['trial_type'] = 'recall'
events = pd.concat([events_view, events_recall])
events

   onset  duration trial_type
0     11       412       view
1    457       373       view
2    853       353       view
0      4       235     recall
1    239       239     recall
2    478       150     recall

In [43]:
timings = np.arange(0, 853 + 353)

In [44]:
make_first_level_design_matrix(timings, events, drift_model=None)#.plot(subplots=True)

      recall  view  constant
0        0.0   0.0       1.0
1        0.0   0.0       1.0
2        0.0   0.0       1.0
3        0.0   0.0       1.0
4        0.0   0.0       1.0
...      ...   ...       ...
1201     0.0   1.0       1.0
1202     0.0   1.0       1.0
1203     0.0   1.0       1.0
1204     0.0   1.0       1.0
1205     0.0   1.0       1.0

[1206 rows x 3 columns]

In [ ]:
second_run = image.load_img('/Users/bradpowell/Desktop/sub-01/ses-01/Functional/sub-01_ses-01_task-view_run-02_space-MNI152NLin2009cAsym_desc-preproc_bold_trim3_smooth5.nii.gz')

# Run 3

In [45]:
#events files
events_view = pd.read_csv("/Users/bradpowell/Desktop/sub-01/ses-01/Events/view_third_run.tsv", sep='\t')
events_recall = pd.read_csv("/Users/bradpowell/Desktop/sub-01/ses-01/Events/recall_third_run.tsv", sep='\t')

In [46]:
events_view['trial_type'] = 'view'
events_recall['trial_type'] = 'recall'
events = pd.concat([events_view, events_recall])
events

   onset  duration trial_type
0     16       452       view
1    504       376       view
2    913       346       view
0      4       288     recall
1    292       253     recall
2    546       203     recall

In [47]:
timings = np.arange(0, 913 + 346)

In [29]:
make_first_level_design_matrix(timings, events, drift_model=None)#.plot(subplots=True)

      recall  view  constant
0        0.0   0.0       1.0
1        0.0   0.0       1.0
2        0.0   0.0       1.0
3        0.0   0.0       1.0
4        0.0   0.0       1.0
...      ...   ...       ...
1254     0.0   1.0       1.0
1255     0.0   1.0       1.0
1256     0.0   1.0       1.0
1257     0.0   1.0       1.0
1258     0.0   1.0       1.0

[1259 rows x 3 columns]

In [48]:
third_run = image.load_img('/Users/bradpowell/Desktop/sub-01/ses-01/Functional/sub-01_ses-01_task-view_run-03_space-MNI152NLin2009cAsym_desc-preproc_bold_trim3_smooth5.nii.gz')